fastapi
uvicorn
python-multipart
pandas
pydantic
python-dotenv
jinja2
aiofiles
transformers
torch
snscrape
google-play-scraper
matplotlib
sqlalchemy
passlib
python-jose
bcrypt
email-validator
weasyprint
beautifulsoup4
nltk